.footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    color:#fff;
    padding: 20px;
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    margin-right: 2rem;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.contacts-link:last-child {
    margin-right: 0;
    position: relative;
}

.contacts-link:last-child:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 100%;
    top: 11px;
    margin-left: 2rem;
    pointer-events: none;
}

.contacts-link:hover {
    text-decoration: underline;
    color: #b2e3fd;
}

.contacts-icom {
    margin-right: 5px;
}